#left-panel{
    margin: 1rem;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

Link{
    margin: 1rem;
    text-decoration: none;
}

Link:hover{
    border: 1px solid black;
    border-radius: 50px;
    background-color: darkblue;
}