.box{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin-right: 1rem;
}

.module{
    margin: 1rem;
    color: #ff0000;
}

.off{
    margin: 1rem;
}
.vrf{
    display: flex;
    margin-top: 4rem;
    justify-content: space-around;
}