#root,html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:azure;
    overflow: hidden;
}

#Box{
    height: 100%;
    overflow: visible;
}

#container{
    display: flex;
    justify-content: space-between;
}

#left-floor{
    width: 12rem;
}


